.side-menu {
    padding: 10px 16px;
    background-color: blueviolet !important;
    height: 100vh;
    border-radius: 0 10px  10px 0;
    box-shadow: 2px 4px 12px #9e9e9e;

}
.side-menu h3 {
    color: cornsilk;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
}

.side-menu a:hover {
    color: #fff;
}

.side-menu-active {
    color: #9d9d9d !important;
}